<!DOCTYPE html>

<html lang="en">

   <head>
      <title>WTL Timestamp Microservice</title>
      <meta charset="utf-8" />
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <meta content="A simple microservice that returns a JSON object with a Unix timestamp and a natural language date." name="description" />
      <meta content="timestamp, microservice, api, json, unix, date, time, timestamp microservice, timestamp api, timestamp json, timestamp unix, timestamp date, timestamp time, timestamp microservice api, timestamp microservice json, timestamp microservice unix, timestamp microservice date, timestamp microservice time" name="keywords" />
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <header>

          <h2>WTL Timestamp Microservice</h2>
  
          <p>
            This is my project of the <a href="https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice" target="_blank"> 
            Timestamp Microservice challenge </a> for the freeCodeCamp API and Microservice certification. 
            It was built based on the boilerplate available <a href="https://github.com/freeCodeCamp/boilerplate-project-timestamp/" target="_blank">here</a>.
          </p>

        </header>

        <section>

          <h3>Example Usage:</h3>
          <p>To get the current timestamp:</p>
          <code>api/timestamp</code>

          <p>To get a timestamp from a specific date:</p>
          <code>api/timestamp/2015-12-25</code>

          <p>Or from a Unix timestamp:</p>
          <code>/api/timestamp/1451001600000</code>
  
          <h3>Example Output:</h3>
          
          <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
          
        </section>

        <footer>

          <p>
            By <a href="https://www.github.com/WeslenLakins" target="_blank">Weslen T. Lakins</a> for <a href="https://www.freecodecamp.org/" target="_blank">freeCodeCamp</a> certification.
          </p>

        <footer>

      </div>
      
   </body>

</html>